<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">

    <title> Cancare | About</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/logo_1.png">
  </head>
  <body>
    <header>
      <div class="container1">
        <div id="branding">
          <h1><span class="highlight">CANCER</span>CARE</h1>
        </div>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li class="current"><a href="/about-project">About</a></li>
            <li><a href="/model-service">Model</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="main">
      <div class="container">
        <article id="main-col">
          <h1 class="page-title">About Us</h1>
          <p>
A predictive model is a statistical or machine learning approach that uses historical data to forecast future outcomes. It identifies patterns and relationships within input variables and applies them to predict unknown or future values. These models are essential for tasks such as regression, where continuous outcomes like sales or stock prices are predicted, or classification, where data is sorted into predefined categories, such as predicting whether a customer will churn. Predictive models are widely used in various fields, including finance, healthcare, and marketing, to support decision-making processes by providing data-driven insights.
          </p>
          <p>
Lung cancer remains one of the leading causes of cancer-related deaths worldwide, with a high mortality rate largely due to late-stage diagnosis. Traditional diagnostic methods, such as imaging and biopsies, are often invasive, expensive, and may miss early detection opportunities. This delay in diagnosis significantly reduces treatment effectiveness and patient survival rates.

          </p>
        </article>

        <aside id="sidebar">
          <div class="dark">
            <h3>What We Do</h3>
            <p>Our solution will deliver a refined, predictive diagnostic model for lung cancer, capable of analyzing patient data to detect the likelihood of lung cancer with high accuracy. Thid model will provide valuable insights into the biomarkers that play the most significant role in the diagnostic process, ultimately improving patient outcomes.</p>
          </div>
        </aside>
      </div>
    </section>

    <footer>
      <section id="newsletter">
        <div class="container">
          <h1>Subscribe To Our Newsletter</h1>
          <form>
            <input type="email" placeholder="Enter Email..." required>
            <button type="submit" class="button_1">Subscribe</button>
          </form>
        </div>
      </section>

      <p> A project work by <a href="https://www.linkedin.com/in/toluwayemi-babalola-17019723b/">Babalola Toluwayemi</a> and <a href="https://www.linkedin.com/in/priscilla-adindeh-728588272?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Adindeh Priscilla</a>, Copyright &copy; 2025</p>
    </footer>
  </body>
</html>
