<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  
    <title>Cancare | Welcome</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="icon" href="../static/img/logo_1.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
  </head>

  <body>
    <header>
      <div class="container1">
        <div id="branding">
          <h1><span class="highlight">CANCER</span>CARE</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="/">Home</a></li>
            <li><a href="/about-project">About</a></li>
            <li><a href="/model-service">Model</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>MODEL FOR LUNG CANCER</h1>
        <p>Cancer is a disease in which some of the body’s cells grow uncontrollably and spread to other parts of the body.  Cancer can start almost anywhere in the human body, which is made up of trillions of cells. Normally, human cells grow and multiply to form new cells as the body needs them. When cells grow old or become damaged, they die, and new cells take their place.
</p>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="../static/img/logo_1.png">
          <h3> AIM </h3>
          <p>
This work is aimed at development of a predictive model <br> for  lung cancer.</p>
        </div>
        <div class="box">
          <img src="../static/img/logo_2.png">
          <h3> OBJECTIVES </h3>
          <ol>
              <li> To source for existing data set from Kaggle.</li>
              <li> To identify biomarkers for lung cancer. </li>
              <li> Analysis the data set</li>
              <li>To refine the machine learning models on existing data set. </li>
          </ol>
              
        </div>
        <div class="box">
          <img src="../static/img/logo_3.png">
          <h3> SCOPE</h3>
          <p> AI and noninvasive technologies,  </p>
        </div>
      </div>
    </section>

    <footer>
      <section id="newsletter">
        <div class="container">
          <h1>Subscribe To Our Newsletter</h1>
          <form>
            <input type="email" placeholder="Enter Email..." required>
            <button type="submit" class="button_1">Subscribe</button>
          </form>
        </div>
      </section>

      <p> A project work by <a href="https://www.linkedin.com/in/toluwayemi-babalola-17019723b/">Babalola Toluwayemi</a> and <a href="https://www.linkedin.com/in/priscilla-adindeh-728588272?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Adindeh Priscilla</a>, Copyright &copy; 2025</p>
    </div>
    </footer>
  </body>
</html>
